.work-container{ grid-template-columns: repeat(1, max-conent); justify-content: center; margin-top: 1.5rem;}
.work-card{ background-color: var(--proj-card); border: 1px solid rgba(0, 0, 0, .5); border-color: var(--card-line); padding: 16px; border-radius: 1rem; display: flex; flex-direction: column; justify-content: space-around }
.project-section-title{ font-size: 2.5rem; color: var(--h1h2) }
.desc-btn{ display: flex; justify-content: space-between }
.zoom{ overflow: hidden; border-radius: 1rem; width: auto; height: 87% }
.project-img{ cursor: pointer; transition: all .5s ease-in-out; border-radius: .5rem }
.project-img:hover{transform: scale(1.4);}
.work-title{ font-size: 1.5rem; font-weight: bolder; color: var(--card-title) }
.work-button{ color: var(--proj-btn); font-size: 1.1rem; display: flex; align-items: center; column-gap: .25rem }
.work-button-icon{ font-size: 1.5rem; transition: .4s;}
.work-button:hover .work-button-icon{ transform: translatex(.25rem); color: var(--proj-icon);}

@media screen and (max-width: 992px) {
  /* .work-card{ background-color: var(--container-color); border: 1px solid rgba(0, 0, 0, .2); padding: 1.25rem; width: 500px; border-radius: 1rem } */
  .work-title{ font-size: 1rem; font-weight: bolder; }
  .work-button{ color: var(--text-color); font-size: 1rem; display: flex; align-items: center; column-gap: .25rem }
  .work-button-icon{ font-size: 1.3rem; transition: .4s }
}

@media screen and (max-width: 768px) {
  /* .work-card{ background-color: var(--container-color); border: 1px solid rgba(0, 0, 0, .2); padding: 1.25rem; width: 350px; border-radius: 1rem;} */
  .work-title{ font-size: 1rem; font-weight: bolder;}
  .work-button{ color: var(--text-color); font-size: .95rem; display: flex; align-items: center; column-gap: .25rem;}
  .work-button-icon{ font-size: 1rem; transition: .4s;}
  .desc-btn { flex-direction: column; }
  .work-card { padding: 12px; }
}