.work-container{ grid-template-columns: repeat(1, max-conent); justify-content: center; margin-top: 1.5rem;}
.work-card{ display: flex; justify-content: space-around; margin-bottom: 160px; }
.project-section-title{ font-size: 2.5rem; color: var(--h1h2); margin-bottom: 1.5rem; }
.desc-btn{ width: 50%; display: flex; justify-content: center; flex-direction: column; border-radius:0 0 10px 10px; }
.zoom{ width: 50%; overflow: hidden; display: flex; border-radius: 10px 10px 0 0; justify-content: center;}
.mb-2{ margin-bottom: 1rem; }
.project-img{ cursor: pointer; transition: all .3s linear; filter: grayscale(0); }
.project-img:hover{transform: scale(1.1);}
.work-card:hover .project-img {filter: grayscale(0);}
.work-container:hover .work-card:not(:hover) .project-img {filter: grayscale(100%);}
.work-title{ font-size: 1.5rem; font-weight: bolder; color: var(--card-title) }
.work-button{ color: var(--proj-btn); font-size: 1.1rem; display: flex; align-items: center; column-gap: .25rem }
.work-button-icon{ font-size: 1.5rem; transition: .4s;}
.work-button:hover .work-button-icon{ transform: translatex(.25rem); color: var(--proj-icon);}

@media screen and (max-width: 992px) {
  /* .work-card{ background-color: var(--container-color); border: 1px solid rgba(0, 0, 0, .2); padding: 1.25rem; width: 500px; border-radius: 1rem } */
  .work-title{ font-size: 1rem; font-weight: bolder; }
  .work-button{ color: var(--text-color); font-size: 1rem; display: flex; align-items: center; column-gap: .25rem }
  .work-button-icon{ font-size: 1.3rem; transition: .4s }
}

@media screen and (max-width: 768px) {
  /* .work-card{ background-color: var(--container-color); border: 1px solid rgba(0, 0, 0, .2); padding: 1.25rem; width: 350px; border-radius: 1rem;} */
  .work-title{ font-size: 1rem; font-weight: bolder;}
  .work-button{ color: var(--text-color); font-size: .95rem; display: flex; align-items: center; column-gap: .25rem;}
  .work-button-icon{ font-size: 1rem; transition: .4s;}
  .desc-btn { width: 100%; padding: 1.25rem; }
  .work-card { flex-direction: column; margin-bottom: 1.25rem; }
  .zoom { width: 100%; justify-content: center; }
  .work-card-reverse{ flex-direction: column-reverse; }
}