.work-container{
  grid-template-columns: repeat(1, max-conent);
  justify-content: center;
  margin-top: 3rem;
}

.work-card{
  background-color: var(--container-color);
  border: 4px solid rgba(0, 0, 0, .2);
  padding: 1.25rem;
  width: 900px;
  border-radius: 1rem;
}

.zoom{
  overflow: hidden;
  border-radius: 1rem;
  width: auto;
}

.project-img{
  transition: all .5s ease-in-out;
  border-radius: .5rem;
  cursor: pointer;
}

.project-img:hover{
  transform: scale(1.4);
}

.work-title{
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: var(--mb-0-5);
}

.work-button{
  color: var(--text-color);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.work-button-icon{
  font-size: 1.5rem;
  transition: .4s;
}

.work-button:hover .work-button-icon{
  transform: translatex(.25rem);
  color: black;
}

@media screen and (max-width: 992px) {
  .work-card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 1.25rem;
    width: 500px;
    border-radius: 1rem;
  }

  .work-title{
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: var(--mb-0-5);
  }
  
  .work-button{
    color: var(--text-color);
    font-size: 1rem;
    display: flex;
    align-items: center;
    column-gap: .25rem;
  }
  
  .work-button-icon{
    font-size: 1.3rem;
    transition: .4s;
  }
}

@media screen and (max-width: 768px) {
  .work-card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 1.25rem;
    width: 350px;
    border-radius: 1rem;
  }

  .work-title{
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: var(--mb-0-5);
  }
  
  .work-button{
    color: var(--text-color);
    font-size: .95rem;
    display: flex;
    align-items: center;
    column-gap: .25rem;
  }
  
  .work-button-icon{
    font-size: 1rem;
    transition: .4s;
  }
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
  
}


