.moon-icon{
    font-size: 25px;
    color: orange;
    cursor: pointer;
}

.nav{
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav-logo,
.nav-toggle{
    color: var(--color-logo);
    font-weight: bolder;
    font-size: 3rem;
}

.nav-list{
    text-align: right;
    flex: 1;
    display: flex;
    column-gap: 2.5rem;
}
.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    color: var(--navlink);
    font-weight: var(--font-normal);
    transition: .3s;
}

.nav-close,
.nav-icon,
.nav-toggle{
    display: none;
}

.active-link{
    color: var(--hoverlink);
    font-weight: var(--font-semi-bold);
}
.nav-link:hover{
    color: var(--hoverlink);
}



.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .header{
        padding-top: .8rem;
        top: initial;
        top: 0;
    }

    .nav {
        height: var(--header-height);
    }

    .nav-menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: var(--navmenu);
        padding: 2rem 1.2rem 5rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius:0 0 1rem 1rem;
        transition: .9s;
    }

    .show-menu{
        top: 0;
    }

    .nav-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav-icon {
        font-size: 1.2rem;
    }

    .nav-close{
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 2rem;
        cursor: pointer;
        color: var(--close);
        transition: .9s;
    }

    #darkMode{
        position: absolute;
        bottom: .5rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .nav-toggle,
    .nav-logo{
        font-size: 1.9rem;
        cursor: pointer;
    }
    

    .nav-icon,
    .nav-close,
    .nav-toggle{
        display: block;
    }

    .nav-link{
        font-size: 15px;
    }

}

@media screen and (max-width: 350px){
    .nav-menu{
        padding: 2rem, 0.25rem 3rem;
    }

    .nav-list{
        column-gap: 0;
    }
}
